# 1Password account aliases (example)
# Format: alias=account_uuid

ElectInfo=NAGE4CCNQVBWPJEI5CLZ7NCVFM
Siege_Analytics=TLTQ3ANAABGCNEK7KIAOTDNK2Q
Dheeraj_Chand_Family=NRPF34RS6VH2THRPJDBTZWQOKU
Masai_Family=I3C75JBKZJGSLMVQDGRKCVNHIM
