# 1Password account aliases (example)
# Format: alias=account_uuid

ElectInfo=NAGE4CCNQVBWPJEI5CLZ7NCVFM
Siege_Analytics=TLTQ3ANAABGCNEK7KIAOTDNK2Q
Masai_Interactive=NRPF34RS6VH2THRPJDBTZWQOKU
Dheeraj_Chand_Family=I3C75JBKZJGSLMVQDGRKCVNHIM
